certifi==2025.7.14
charset-normalizer==3.4.2
convertdate==2.4.0
DateTime==5.5
idna==3.10
lunardate==0.2.2
pyluach==2.2.0
PyMeeus==0.5.12
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
setuptools==80.9.0
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
workalendar==17.0.0
zope.interface==7.2
